/* #box {
}

#box::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(at top, yellow, red);
} */


/* #profilePic {
    border-radius: 50%;
    z-index: 3;
    /* border: 2px solid brown; */
/* animation: rotating 12s linear infinite; */
/* } */

/* #imgContainer {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    background: #ff0000;
    position: relative;
} */

/* #imgContainer #content {
    position: absolute;
    inset: 4px;
    border: 4px solid rgb(255, 0, 0);
    z-index: 5;
    border-radius: 50%;
} */



/* #imgContainer::before {
    position: absolute;
    content: '';
    inset: 10px;
    /* background: repeating-conic-gradient(from var(--a), #ffa31d, #ef5454, #9e1f63, #392d91, #658715, #006663, #FFAF45); */
/* background: repeating-conic-gradient(from var(--a), #40A2E3, #535C91, #352590, #1D24CA, #98ABEE, #836FFF, #241ab8); */
/* background: repeating-conic-gradient(from var(--a), #0f0, #ff0, #0ff, #f0f, #0ff); */
/* background: repeating-conic-gradient(from var(--a), #aa00ff, #9600ff, #6f00ff, #5512fb, #3c00ff); */
/* background: repeating-conic-gradient(from var(--a), #3c00ff, #844da3, #663b94, #431c76, #221c69); */
/* border-radius: 50%; */
/* animation: rotating 8s linear infinite; */

/* } */

/* #imgContainer::after { */
/* position: absolute; */
/* content: ''; */
/* inset: 0; */
/* border-radius: 50%; */
/* background: repeating-conic-gradient(from var(--a), #0f0, #ff0, #0ff, #f0f, #0ff); */
/* background: repeating-conic-gradient(from var(--a), #ffa31d, #ef5454, #9e1f63, #392d91, #658715, #006663, #FFAF45); */
/* background: repeating-conic-gradient(from var(--a), #40A2E3, #535C91, #352590, #1D24CA, #98ABEE, #836FFF, #241ab8); */
/* background: repeating-conic-gradient(from var(--a), #3c00ff, #844da3, #663b94, #431c76, #221c69); */
/* background: repeating-conic-gradient(from var(--a), #aa00ff, #9600ff, #6f00ff, #5512fb, #3c00ff); */
/* animation: rotating 8s linear infinite; */
/* filter: blur(10px); */
/* z-index: 2; */
/* } */

/* @property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
} */

/* @keyframes rotating {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
} */

@media (width > 1500px) {
    #imgContainer {
        height: 31rem;
        width: 22.65rem;
    }

}

@media (width > 1120px) and (width <=1480px) {
    #imgContainer {
        height: 28rem;
        width: 21rem;

    }
}

@media (width > 1023px) and (width <=1120px) {
    #imgContainer {
        height: 26.5rem;
        width: 20rem;
    }

}

@media (width > 640px) and (width <=1023px) {
    #mainImgContainer {
        margin-top: 2rem;
    }

    #imgContainer {
        height: 23rem;
        width: 17.3rem;
    }

}

@media (width > 400px) and (width <=640px) {
    #mainImgContainer {
        margin-top: 2rem;

    }

    #imgContainer {
        height: 33rem;
        width: 24rem;
    }

    #textBox {
        padding: 0 2rem 0 2rem;
    }
}




@media (width > 880px) {
    #menubutton {
        display: none;
    }
}

@media (width <=880px) {
    #menubutton {
        visibility: visible;
    }

    #lin {
        display: none;
    }
}