@media (width > 1500px) {
    #imgContainer {
        height: 31rem;
        width: 22.65rem;
    }

    #mainContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
    }

    #mainCon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

@media (width > 1120px) and (width <=1480px) {
    #imgContainer {
        height: 28rem;
        width: 21rem;

    }
}

@media (width > 1023px) and (width <=1120px) {
    #imgContainer {
        height: 26.5rem;
        width: 20rem;
    }

}

@media (width > 640px) and (width <=1023px) {
    #mainImgContainer {
        margin-top: 2rem;
    }

    #imgContainer {
        height: 23rem;
        width: 17.3rem;
    }

}

@media (width > 470px) and (width <=640px) {
    #mainImgContainer {
        margin-top: 2rem;

    }

    #imgContainer {
        height: 33rem;
        width: 24rem;
    }

    #textBox {
        padding: 0 2rem 0 2rem;
    }
}

@media (width <=470px) {
    #mainImgContainer {
        margin-top: 2rem;
    }

    #imgContainer {
        height: 27rem;
        width: 20rem;
    }

    #textBox {
        padding: 0 2rem 0 2rem;
    }
}




@media (width > 880px) {
    #menubutton {
        display: none;
    }
}

@media (width <=880px) {
    #menubutton {
        visibility: visible;
    }

    #lin {
        display: none;
    }
}