@media (width>640px) {
    #socialLinks {
        display: none;
    }
}

@media (width > 400px) and (width <=640px) {
    #left {
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 1rem;
    }

    #middle {
        display: none;
    }

    #right {
        display: none;
    }
}